@mixin spriteImage($sprite, $top:0px, $left:0px){
	background-image: url($sprite); 
	background-position: $top $left;
	background-repeat:no-repeat;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin removeAppearance{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    border:0px;
    outline:none;
}
@mixin degradesp ($startColor, $endColor, $orientacao : '') {
	@if $orientacao == '' {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
		background: $startColor; /* Old browsers */
		background: -moz-linear-gradient(top,  $startColor, $endColor); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  $startColor,$endColor); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  $startColor ,$endColor); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor',GradientType=0 ); /* IE6-9 */
	} @else {
		background: $startColor; /* Old browsers */
		background: -moz-linear-gradient($orientacao,  $startColor, $endColor); /* FF3.6-15 */
		background: -webkit-linear-gradient($orientacao,  $startColor,$endColor); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient($orientacao,  $startColor ,$endColor); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor',GradientType=0 ); /* IE6-9 */
	}
}
@mixin clearfix{
	content: " "; /* 1 */
    display: table; /* 2 */
    clear:both;
}
@mixin calcObj($attr : width, $first : 100%, $op : '-', $last : 5px){
	/* Firefox */
	#{$attr} : -moz-calc(#{$first} #{$op} #{$last});
	/* WebKit */
	#{$attr}: -webkit-calc(#{$first} #{$op} #{$last});
	/* Opera */
	#{$attr}: -o-calc(#{$first} #{$op} #{$last});
	/* Standard */
	#{$attr}: calc(#{$first} #{$op} #{$last});
}