/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
body{

}
a{
	text-decoration:none;
}
p{margin-top:0px;}
.fullwidth{width:100%;}
.maxWidth{max-width:$maxWidth; margin:auto}
.content{
	&.purple{
		background-color:$rose;
	}
}
.footer{background-color:$jungleGreen}
.topo{
	margin-top:16px;
	margin-bottom:0px;
	.options{
		border-bottom:1px solid $separatorGrey;
		text-align:center;
		&>.position {
			    margin: auto;
    			display: inline-block;
			    margin-bottom: 14px;
			div{
				display:inline-block;
				float:left;
			}
			.mail{
				i{
					display:block;
					height:32px;
					width:32px;
					@include spriteImage('../img/sprite.png', -128px, 4px);
					cursor:pointer;
					margin-right:15px;
				}
			}
			.searchbt{
				i{
					display:block;
					height:32px;
					width:32px;
					@include spriteImage('../img/sprite.png', -64px, 0px);
					cursor:pointer;
				}
			}
			.langs{
				float:left;
				margin-right: 43px;
				div.mod-languages ul.lang-inline li {
				    display: inline-block;
				    height: 30px;
				    width: 45px;
				    a{
				    	color:transparent;
				    	text-decoration:none;
					    width: 100%;
					    height: 100%;
					    display: inline-block;
				    }
				    &.lang_PT{
				    	@include spriteImage('../img/sprite.png', -253px, -46px);
				    	&.lang-active{
				    		@include spriteImage('../img/sprite.png', -253px, 0px);
				    	}
				    }
				    &.lang_ES{
				    	@include spriteImage('../img/sprite.png', -335px, -46px);
				    	&.lang-active{
				    		@include spriteImage('../img/sprite.png', -335px, 0px);
				    	}

				    }
				}
			}
		}
	}
	
	.menu{
		text-align: center;
		ul{
			list-style: none;
			padding-bottom: 0px;
    		margin-bottom: 0px;
			li{ 
				display: inline-block;
				margin-right: 30px;
				text-align:center;
				padding-bottom:10px;
				&:last-child{margin-right:0px;}
				&.current{
					border-bottom: 5px solid $rose;
				}
				a{
					font-family:$roboto;
					font-weight: bold;
					color:$black;
					font-size: 16px;
					line-height:19px;
				}
			}
		}

	}
}
.banner{
    position: relative;
    padding: 0px;
    margin: 0px;
    .degrade{
    	position: absolute;
    	width:100%;
    	height:70%;
    	bottom:0px;
    	left:0px;
    	z-index:1;
    	@include degradesp(rgba(0,0,0,0.6), rgba(0,0,0,0), 0deg);
    }
	.overBanner{
	    position: absolute;
	    left: 0px;
	    top:5%;
	    z-index: 2;
	    width: 100%;
	    .logo{
	    	margin:auto;
	    	img{margin-left:30px;}
	    }
	    .texto{
	    	font-family:$roboto;
			font-weight: bold;
			color:$white;
			font-size: 40px;
			line-height:47px;
			margin-top:74px;
			text-align:center;
	    }
	   
	} 
	&.smallBanner{
    	max-height:390px;
    	overflow:hidden;
    	.overBanner{
    		.texto{margin-top:40px;}
    	}
    }
}
.purple{
	.Item{
		padding:20px 0px;
		border-bottom:1px solid $white;
		text-align:center;
		&:last-child{
			border-bottom:0px solid $white;
		}
		h1{
			margin:0px;
			font-family:$roboto;
			font-weight: bold;
			color:$white;
			font-size: 40px;
			line-height:47px;
			margin-bottom:35px;
		}
		p{
			margin:0px;
			font-family:$roboto;
			font-style:italic;
			color:$white;
			font-size: 18px;
			line-height:26px;

		}
		ul.btns{
			list-style:none;
			&:after{
				@include clearfix;
			}
			li{
				display:inline-block;
				margin-right:20px;
				border:3px solid $white;
				width:275px;
				padding:14px 0px 18px 0px;
				text-align:center;
				cursor:pointer;
				float:left;
				&:last-child{
					margin-right: 0px;
				}
				a{
					font-family:$roboto;
					font-weight: bold;
					color:$white;
					font-size: 24px;
					line-height:26px;
				}
			}
		}
	}
}
.white{
	text-align:center;
	h1{
		margin:0px;
		font-family:$roboto;
		font-weight: bold;
		color:$grey;
		font-size: 40px;
		line-height:47px;
		margin-bottom:35px;
		&.titleSec{
			margin-top:20px;
		}
	}
	.Item{
		padding:20px 0px;
		border-bottom:1px solid $grey;
		text-align:center;
		&:last-child{
			border-bottom:0px solid $grey;
		}
		
		p{
			margin:0px;
			font-family:$roboto;
			font-style:normal;
			color:$black;
			font-size: 16px;
			line-height:26px;

		}
		ul.btns{
			list-style:none;
			&:after{

			}
			li{
				display:inline-block;
				margin-right:20px;
				border:3px solid $rose;
				width:300px;
				padding:14px 0px 18px 0px;
				text-align:center;
				cursor:pointer;
				&:last-child{
					margin-right: 0px;
				}
				a{
					font-family:$roboto;
					font-weight: bold;
					color:$rose;
					font-size: 24px;
					line-height:26px;
				}
			}
		}
		
	}
	li.p1 {
	    float: left;
	    width: 30%;
	    margin-right: 3%;
	    text-align: left;
	    margin-bottom: 30px;
	}
	a.btn{
		display:inline-block;
		margin-right:20px;
		border:3px solid $rose;
		width:300px;
		padding:14px 0px 18px 0px;
		text-align:center;
		cursor:pointer;
		font-family:$roboto;
		font-weight: bold;
		color:$rose;
		font-size: 24px;
		line-height:26px;
	}
	.custom{
		text-align: center;
		
	}
	.custom_moreActivities{
		
	}
	.newsflash_actividades{
		float:left;
		.actividadeItem{

			display:inline-block;
			width:31%;
			margin-left:2%;
			float:left;
			&:first-child{margin-left:0px;}
			.image{
				width:100%;
				img{width:100%; margin-left:0px};
			}
			.title{
				font-family:$roboto;
				font-weight: bold;
				color:$rose;
				font-size: 20px;
				line-height:26px;
				text-align:left;
				margin-top:18px;
			}
			.data, .decricao{
				font-family:$roboto;
				font-weight: normal;
				color:$dimGray;
				font-size: 16px;
				line-height:19px;
				text-align:left;
				margin-top:8px;
			}
			.decricao{margin-top:19px;}
		}
	}
}
.partners{
	border-top: 1px solid $lightGrey;
	.maxWidth{text-align:center;}
	h1.title{
		font-family:$roboto;
		font-weight: normal;
		color:$rose;
		font-size: 20px;
		line-height:26px;
		margin:auto;
		margin-top:9px;
	}
	.custom{
		p img{
		    margin-right: 58px;
		    &:last-child{margin-right:0px;}
		}
	}
}
.footer{
	background-color:$jungleGreen;
	.creditos{
		font-family:$robotoCond;
		font-weight: normal;
		color:$white;
		font-size: 14px;
		line-height:16px;
		text-align:left;
		padding-top:8px;
		border-top:1px solid $lightGrey;
		padding-bottom:30px;
		margin-top: 20px;
		p{margin: 0px;}
	}
	.Morada, .menuSec{
		a{
			text-decoration:none;
			color:$white;
		}
		font-family:$robotoCond;
		font-weight: normal;
		color:$white;
		font-size: 14px;
		line-height:30px;
		text-align:left;
		padding-top:8px;
		margin-top:20px;
		width:30%;
		display:inline-block;
	    vertical-align: top;
	}
	.menuSec{
		ul{
			list-style:none;
			margin:0px;
			padding:0px;
		}
	}
	.subscrever{
		width:39%;
		display:inline-block;
		.title{
			font-family:$roboto;
			font-weight: bold;
			color:$white;
			font-size: 26px;
			line-height:30px;
			text-align:left;
			margin-top:20px;
		}
		.form{
			margin-top:16px;
			.email{
				@include removeAppearance;
				background-color:$black;
				border:1px solid $rose;
				margin:0px;
				padding: 5px 10px;
				font-family:$robotoCond;
				font-weight: normal;
				color:$white;
				font-size: 14px;
				line-height:30px;
				text-align:left;
				width:80%;
				float:left;
			}
			#btNewsletter{
				display:inline-block;
				background-color:$rose;
				height:40px;
				width:40px;
				float:left;
				border:1px solid $rose;
				@include spriteImage('../img/sprite.png', -58px, -45px);
				cursor:pointer;
			}
		}
	}
}
.ItemNextActivitie{
	border-bottom: 1px solid $lightGrey;
	padding-bottom: 29px;
    margin-top: 29px;
    display: inline-block;
    float:left;
    margin-bottom:10px;
    width: 100%;
	&:last-child{border-bottom:none;}
	&>div{
		display:inline-block;
		float:left;
	}
	.date{
		width:60px;
		margin-right:20px;
		.dia{
			height:60px;
			background-color: $khaki;
			display:block;
			font-family:$roboto;
			font-weight: bold;
			color:$white;
			font-size: 40px;
			line-height:60px;
			text-align:center;
		}
		.mes, .ano{
			font-family:$roboto;
			font-weight: normal;
			color:$black;
			font-size: 14px;
			line-height:24px;
			text-align:center;
			width:100%;
		}
		.ano{}
	}
	.image{
		width:300px;
		margin-right:20px;
		img{width:100%;}
	}
	.description{
		font-family:$roboto;
		font-weight: normal;
		color:$black;
		font-size: 16px;
		line-height:26px;
		text-align:left;
		width:57%;
	}
}
.mobile{display: none !important}
.searchbar{
	display:none;
	text-align:center;
	border-bottom: 1px solid #D8D8D8;
	padding: 5px 0px;
	.search{
		text-align: center;
		vertical-align: middle;
		.search-query{
			@include removeAppearance();
			width:80%;
			height:40px;
			border: 1px solid #E8E8E8;
			display: inline-block;
    		vertical-align: middle;
    		padding:0px 5px;
		}
		.button{
			@include removeAppearance();
			@include spriteImage('../img/sprite.png', -128px, -44px);
			background-color:transparent;
		   	display: inline-block;
		   	height:40px;
		   	width:40px;
		   	border:0px;
	   	    margin-left: 5px;
    		vertical-align: middle;

		}	
		&:after{
			@include clearfix;
		}
	}
}

.search-results{
	dt{
		border-top: 1px solid #E8E8E8;
		text-align: left;
		padding-top:10px;
		&:first-child{border:0px;}
	}
	dd{
		text-align: left;
		padding-bottom:10px;
	}
	a{
		text-decoration: none;
		color:#000000;
		font-weight: bold;
	}
}




@media screen and (max-width:375px){
	.mobile{display:block !important;}
	.desktop{display:none !important}
	.cabecalho{
		position:fixed;
		top:0px;
		left:0px;
		min-height:60px;
		background-color:$white;
		width: 100%;
	    z-index: 10;
	    .hiddCont{display:none; margin-top:60px !important;}
	}
	.banner{ 
		.overBanner{ 
			.texto {
				font-size:17px;
				line-height:20px;
			}
			.logo{
				img{width:40%;}
			}
		}
	}
	ul.btns{
		padding-left:0px;
		li{ margin-bottom:5px;}
	}
	.purple{
		@include calcObj(width, 100%, '-', 20%);
		padding:0px 10%;
		text-align: center;
	}
	.white{
		@include calcObj(width, 100%, '-', 20%);
		padding:0px 10%;
		text-align: center;
		.newsflash_actividades{
			.actividadeItem{
				width:100%;
				margin-left:0px;
			}
		}
		.custom_moreActivities{
		    width: 100%;
			a{
				width:100%;
			}
		}
		.Item {
			img{width:100%;}
		}
	}
	.footer{
		@include calcObj(width, 100%, '-', 20%);
		padding:0px 10%;
		text-align: center;
		.Morada, .menuSec, .subscrever{width:100%; text-align:left;}
		.creditos{width:100%; text-align:center;}
		.subscrever{
			text-align: center;
			.form{
				.email{
					width:77%;
				}
			}
		}
	}
	.banner{
		margin-top:60px;
	}
	.topo{
		padding-bottom:0px;
		margin-top:0px;
		.options {
		    border-bottom: 0px;
	    	margin-bottom:40px;
		}
		.menu{
		}
		.menu ul{
			margin-left:0px;
			margin-top:0px;
			padding-left:0px;
			li{
				display: block !important;
			    padding-bottom: 5px;
			    margin: 0px 0px 10px;
				&.current{
					border:0px;
					a{border-bottom: 5px solid #A38FB4;}
				}
				&:last-child{
					margin-right:0px;
				}
			}
		}
		.langs{
			div.mod-languages ul.lang-inline li {
			    display: inline-block;
			    height: 30px;
			    width: 45px;
			    a{
			    	color:transparent;
			    	text-decoration:none;
				    width: 100%;
				    height: 100%;
				    display: inline-block;
			    }
			    &.lang_PT{
			    	@include spriteImage('../img/sprite.png', -253px, -46px);
			    	&.lang-active{
			    		@include spriteImage('../img/sprite.png', -253px, 0px);
			    	}
			    }
			    &.lang_ES{
			    	@include spriteImage('../img/sprite.png', -335px, -46px);
			    	&.lang-active{
			    		@include spriteImage('../img/sprite.png', -335px, 0px);
			    	}

			    }
			}
		}
		.btnpesquisa{
			display:inline-block;
			float: right;
			i{
				@include spriteImage('../img/sprite.png', -60px, 4px);
				cursor:pointer;
				width:40px;
				height:40px;
				display:block;
				margin-top:8px;
				margin-right:8px;

			}
		}
		.btnmenu{
			display:inline-block;
			float: left;
			i{
				@include spriteImage('../img/sprite.png', 10px, -48px);
				cursor:pointer;
				width:40px;
				height:40px;
				display:block;
				margin-top:2px;
				margin-left:5px;
				&.close{
					@include spriteImage('../img/sprite.png', 14px, 14px);
					cursor:pointer;
				}
			}
			
		}
	}
	.boxplus-viewport, .boxplus-slider{
		width:100% !important;
	}
	.ItemNextActivitie{
		.dat{    
			display: inline-block;
    		float: left;
		    width: 20%;
		    margin-top: 10px;}
		.txt{
			display: inline-block;
		    width: 77%;
		    float: left;
		    margin-top: 10px;
		    margin-left: 2%;
		    .description{width:100%;}
		}
	}
}