
/* FONTS*/
$roboto: 'Roboto', sans-serif;
$robotoCond: 'Roboto Condensed', sans-serif;

/*CORES*/
$rose : #A38FB4;
$jungleGreen : #18191B;
$black : #000000;
$grey: #B3B3B3;
$lightGrey: #CCCCCC;
$dimGray : #707070;
$separatorGrey: #D8D8D8;
$khaki : #CCB069;
$white : #ffffff;

/* SIZES */
$maxWidth : 940px;